@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --primary-color: rgb(20, 20, 150);
  --primary-color-dark: rgb(12, 12, 87);
  --primary-color-light: rgb(53, 111, 245);
  --secondary-color: rgb(0, 200, 0);
  --secondary-color-light: rgb(108, 255, 108);
  --secondary-color-dark: rgb(1, 128, 1);
  --font: 'IBM Plex Sans', sans-serif;
}